--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: schoolweb_db; Type: DATABASE; Schema: -; Owner: -
--

CREATE DATABASE schoolweb_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'English_United States.1252';


\connect schoolweb_db

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: enrollments_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enrollments_status_enum AS ENUM (
    'enrolled',
    'dropped',
    'completed'
);


--
-- Name: requests_request_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.requests_request_type_enum AS ENUM (
    'enroll',
    'drop'
);


--
-- Name: requests_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.requests_status_enum AS ENUM (
    'pending',
    'approved',
    'rejected'
);


--
-- Name: student_profiles_department_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.student_profiles_department_enum AS ENUM (
    'Computer Science',
    'Information Technology',
    'Mathematics',
    'Physics',
    'Chemistry',
    'English',
    'Economics',
    'Business Administration',
    'Education',
    'Electrical Engineering',
    'Mechanical Engineering',
    'Medicine',
    'Pharmacy'
);


--
-- Name: subjects_department_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.subjects_department_enum AS ENUM (
    'Computer Science',
    'Information Technology',
    'Mathematics',
    'Physics',
    'Chemistry',
    'English',
    'Economics',
    'Business Administration',
    'Education',
    'Electrical Engineering',
    'Mechanical Engineering',
    'Medicine',
    'Pharmacy'
);


--
-- Name: teacher_profiles_department_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.teacher_profiles_department_enum AS ENUM (
    'Computer Science',
    'Information Technology',
    'Mathematics',
    'Physics',
    'Chemistry',
    'English',
    'Economics',
    'Business Administration',
    'Education',
    'Electrical Engineering',
    'Mechanical Engineering',
    'Medicine',
    'Pharmacy'
);


--
-- Name: users_user_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.users_user_type_enum AS ENUM (
    'student',
    'teacher'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.admins (
    id integer DEFAULT 0 NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: classes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.classes (
    class_id integer NOT NULL,
    class_code character varying(20) NOT NULL,
    subject_id integer NOT NULL,
    teacher_id integer NOT NULL,
    room character varying(20),
    start_date date,
    end_date date,
    day character varying(20),
    start_time time without time zone,
    end_time time without time zone,
    max_size integer NOT NULL,
    semester character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: classes_class_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.classes_class_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: classes_class_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.classes_class_id_seq OWNED BY public.classes.class_id;


--
-- Name: enrollments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.enrollments (
    enrollment_id integer NOT NULL,
    student_id integer NOT NULL,
    class_id integer NOT NULL,
    status public.enrollments_status_enum DEFAULT 'enrolled'::public.enrollments_status_enum NOT NULL,
    scores double precision[] DEFAULT ARRAY[]::double precision[] NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: enrollments_enrollment_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.enrollments_enrollment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: enrollments_enrollment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.enrollments_enrollment_id_seq OWNED BY public.enrollments.enrollment_id;


--
-- Name: requests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.requests (
    request_id integer NOT NULL,
    student_id integer NOT NULL,
    class_id integer NOT NULL,
    request_type public.requests_request_type_enum NOT NULL,
    message text,
    status public.requests_status_enum DEFAULT 'pending'::public.requests_status_enum NOT NULL,
    reviewed_date timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: requests_request_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.requests_request_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: requests_request_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.requests_request_id_seq OWNED BY public.requests.request_id;


--
-- Name: student_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.student_profiles (
    user_id integer NOT NULL,
    student_id character varying NOT NULL,
    phone character varying(20),
    dob date,
    avatar_url character varying(500),
    department public.student_profiles_department_enum NOT NULL,
    enrollment_year integer,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: subjects; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.subjects (
    subject_id integer NOT NULL,
    subject_name character varying(255) NOT NULL,
    subject_code character varying(20) NOT NULL,
    department public.subjects_department_enum NOT NULL,
    credits integer NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: subjects_subject_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.subjects_subject_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: subjects_subject_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.subjects_subject_id_seq OWNED BY public.subjects.subject_id;


--
-- Name: teacher_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.teacher_profiles (
    user_id integer NOT NULL,
    "position" text,
    dob date,
    avatar_url character varying(500),
    department public.teacher_profiles_department_enum NOT NULL,
    hire_date date,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    teacher_id character varying NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    full_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    user_type public.users_user_type_enum NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: classes class_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.classes ALTER COLUMN class_id SET DEFAULT nextval('public.classes_class_id_seq'::regclass);


--
-- Name: enrollments enrollment_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.enrollments ALTER COLUMN enrollment_id SET DEFAULT nextval('public.enrollments_enrollment_id_seq'::regclass);


--
-- Name: requests request_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requests ALTER COLUMN request_id SET DEFAULT nextval('public.requests_request_id_seq'::regclass);


--
-- Name: subjects subject_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subjects ALTER COLUMN subject_id SET DEFAULT nextval('public.subjects_subject_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.admins (id, email, password, created_at, updated_at) FROM stdin;
0	admin@email.com	$2b$10$vYeOukBbtDWa/Fx/oEt21e1SbHrOmDLqUbTgie/n1DWo0O2K0S73O	2025-10-01 16:38:42.69886	2025-10-01 16:38:42.69886
\.


--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.classes (class_id, class_code, subject_id, teacher_id, room, start_date, end_date, day, start_time, end_time, max_size, semester, created_at) FROM stdin;
16	IT201.A01	18	22	A202	2025-09-05	2026-02-10	Tuesday	13:00:00	15:00:00	30	First 2026	2025-10-03 12:45:22.099181
17	CS101.B01	17	25	C101	2025-09-20	2026-02-20	Thursday	09:45:00	11:15:00	30	First 2026	2025-10-03 13:09:17.093672
18	EN101.A02	20	22	A202	2025-09-01	2026-01-02	Friday	13:00:00	15:00:00	30	First 2026	2025-10-03 14:14:35.454079
\.


--
-- Data for Name: enrollments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.enrollments (enrollment_id, student_id, class_id, status, scores, created_at) FROM stdin;
23	23	16	completed	{}	2025-10-03 12:49:21.854306
24	24	17	enrolled	{10,9,8,8,8.4}	2025-10-03 13:12:58.893195
25	23	17	enrolled	{10,8,2,3,4.4}	2025-10-03 13:12:58.92219
27	24	18	enrolled	{10,8,0,0,2.6}	2025-10-03 14:15:09.924666
28	23	18	enrolled	{10,7,0,0,2.4}	2025-10-03 14:15:09.946125
29	28	18	enrolled	{9,5,0,0,1.9}	2025-10-03 14:15:09.979765
30	24	16	dropped	{}	2025-10-03 14:21:12.444943
\.


--
-- Data for Name: requests; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.requests (request_id, student_id, class_id, request_type, message, status, reviewed_date, created_at) FROM stdin;
20	24	16	enroll	\N	approved	2025-10-03 14:21:12.449	2025-10-03 14:20:47.03831
21	24	16	drop	Please let me.	approved	2025-10-03 14:21:51.827	2025-10-03 14:21:38.10872
\.


--
-- Data for Name: student_profiles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: teacher_profiles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: classes_class_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.classes_class_id_seq', 18, true);


--
-- Name: enrollments_enrollment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.enrollments_enrollment_id_seq', 30, true);


--
-- Name: requests_request_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.requests_request_id_seq', 21, true);


--
-- Name: subjects_subject_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.subjects_subject_id_seq', 20, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_user_id_seq', 30, true);


--
-- Name: classes PK_1c29abc497051d41c2d6e276a05; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT "PK_1c29abc497051d41c2d6e276a05" PRIMARY KEY (class_id);


--
-- Name: subjects PK_3573ed298f466a8ba663579e077; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT "PK_3573ed298f466a8ba663579e077" PRIMARY KEY (subject_id);


--
-- Name: enrollments PK_3e9102cadbf8e3aaabc5acc6042; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT "PK_3e9102cadbf8e3aaabc5acc6042" PRIMARY KEY (enrollment_id);


--
-- Name: requests PK_4e7b87d34546d9f21a648aed04d; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT "PK_4e7b87d34546d9f21a648aed04d" PRIMARY KEY (request_id);


--
-- Name: users PK_96aac72f1574b88752e9fb00089; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_96aac72f1574b88752e9fb00089" PRIMARY KEY (user_id);


--
-- Name: teacher_profiles PK_b9627de400103265c502c57b56b; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.teacher_profiles
    ADD CONSTRAINT "PK_b9627de400103265c502c57b56b" PRIMARY KEY (user_id);


--
-- Name: student_profiles PK_cef016a0d95e26ae7c0f167ec28; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_profiles
    ADD CONSTRAINT "PK_cef016a0d95e26ae7c0f167ec28" PRIMARY KEY (user_id);


--
-- Name: admins PK_e3b38270c97a854c48d2e80874e; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT "PK_e3b38270c97a854c48d2e80874e" PRIMARY KEY (id);


--
-- Name: admins UQ_051db7d37d478a69a7432df1479; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT "UQ_051db7d37d478a69a7432df1479" UNIQUE (email);


--
-- Name: classes UQ_1c7a37d4b45c2664db574869ff8; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT "UQ_1c7a37d4b45c2664db574869ff8" UNIQUE (class_code);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: subjects UQ_d84405cc8a36ffb373df40ed3bc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT "UQ_d84405cc8a36ffb373df40ed3bc" UNIQUE (subject_code);


--
-- Name: IDX_1c7a37d4b45c2664db574869ff; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_1c7a37d4b45c2664db574869ff" ON public.classes USING btree (class_code);


--
-- Name: IDX_307813fe255896d6ebf3e6cd55; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_307813fe255896d6ebf3e6cd55" ON public.enrollments USING btree (student_id);


--
-- Name: IDX_946c532cc00b5593acf1d1a473; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_946c532cc00b5593acf1d1a473" ON public.requests USING btree (student_id);


--
-- Name: IDX_97672ac88f789774dd47f7c8be; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_97672ac88f789774dd47f7c8be" ON public.users USING btree (email);


--
-- Name: IDX_a1c5d77be8c5b5496866f7d897; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_a1c5d77be8c5b5496866f7d897" ON public.requests USING btree (class_id);


--
-- Name: IDX_a72581b1b6a0ddf0bf5e8bebfc; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_a72581b1b6a0ddf0bf5e8bebfc" ON public.classes USING btree (subject_id);


--
-- Name: IDX_b34c92e413c4debb6e0f23fed4; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_b34c92e413c4debb6e0f23fed4" ON public.classes USING btree (teacher_id);


--
-- Name: IDX_d84405cc8a36ffb373df40ed3b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_d84405cc8a36ffb373df40ed3b" ON public.subjects USING btree (subject_code);


--
-- Name: IDX_f8b7b5b30f3d3c3c8b81068cd7; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_f8b7b5b30f3d3c3c8b81068cd7" ON public.enrollments USING btree (class_id);


--
-- Name: classes FK_classes_subject_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT "FK_classes_subject_id" FOREIGN KEY (subject_id) REFERENCES public.subjects(subject_id) ON DELETE CASCADE;


--
-- Name: classes FK_classes_teacher_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT "FK_classes_teacher_id" FOREIGN KEY (teacher_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: enrollments FK_enrollments_class_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT "FK_enrollments_class_id" FOREIGN KEY (class_id) REFERENCES public.classes(class_id) ON DELETE CASCADE;


--
-- Name: enrollments FK_enrollments_student_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT "FK_enrollments_student_id" FOREIGN KEY (student_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: requests FK_requests_class_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT "FK_requests_class_id" FOREIGN KEY (class_id) REFERENCES public.classes(class_id) ON DELETE CASCADE;


--
-- Name: requests FK_requests_student_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT "FK_requests_student_id" FOREIGN KEY (student_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: student_profiles FK_student_profiles_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_profiles
    ADD CONSTRAINT "FK_student_profiles_user_id" FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: teacher_profiles FK_teacher_profiles_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.teacher_profiles
    ADD CONSTRAINT "FK_teacher_profiles_user_id" FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

